
<div class="container">
    <h2>Welcome Back <br>Sameena</h2>
    <form id="login-form">
        <div class="form-group">
            <input type="text" id="username" placeholder="Email or Phone number" name="username" required>
        </div>
       
        <div class="form-group">
            
            <input type="password" id="password" placeholder="Password" name="password" required>
            <p class="password-for">I forgot my password.</p>
        </div>
        <div class="form-group">
            <button type="submit">Sign Up</button>
        </div>
        <div class="sign-up-with-text"><p> or login with</p></div>
        <div class="social-icons">
            <img src="assets\image\Group 47575.png" alt="Facebook">
            <img src="assets\image\Group 47576.png" alt="Twitter">
            <img src="../../../assets/image/Group 47577.png" alt="Instagram">

        </div>
        <div class="notyet"><p>Not yet a member?<span style="color: #856A31;">Signup</span></p></div>
    </form>
</div>

