<img src="../../../assets/image/Logo-Web-900px.png" alt="">
<div class="container-form">
    <h1 class="form-title">Let's start with some essential details</h1>
   
    <div class="tab1">
        <p class="form-head">I am making this profile for</p>
     
          
        <button class="input-button">Myself</button><br>
        <button class="input-button">My son/ daughter</button><br>
        <button class="input-button">My brother/ sister</button><br>
        <button class="input-button">My nephew / niece</button><br>
        <button class="input-button">A friend</button><br>
        </div>
