
    <div class="container">
        <h2>Sign <span style="font-weight: bold;">Up</span></h2>
        <form id="signup-form">
            <div class="form-group">
                <input type="text" id="username" placeholder="First Name" name="username" required>
            </div>
            <div class="form-group">
                <input type="text" id="username" placeholder="Last Name" name="username" required>
            </div>
            <div class="form-group">

                <input type="email" id="email" placeholder="Email" name="email" required>
            </div>
            <div class="form-group">
                
                <input type="password" id="password" placeholder="Password" name="password" required>
                <p class="password-message">Your password must be at least 8 characters.</p>
            </div>
            <div class="form-group">
                <button type="submit">Sign Up</button>
            </div>
            <div class="sign-up-with-text"><p> or sign up with</p></div>
            <div class="social-icons">
                <img src="assets\image\Group 47575.png" alt="Facebook">
                <img src="assets\image\Group 47576.png" alt="Twitter">
                <img src="../../../assets/image/Group 47577.png" alt="Instagram">

            </div>
            <div class="privacy-text"><p>By choosing to continue, you agree to our Terms of <br>Use , Privacy Policy and Cookie Policy.</p></div>
        </form>
    </div>
